{% extends 'users/base.html' %}
{% load crispy_forms_tags %}
{% block styleblock %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/11.0.9/css/intlTelInput.css" rel="stylesheet"
          media="screen">
{% endblock styleblock %}
{% block content %}
    {% if form %}
        <div class="px-4 py-3">
            <form method="post" class="card border-0 mx-lg-5">
                {% csrf_token %}
                <fieldset class="form-group text-center">
                    <legend class="border-bottom mb-3">
                        <h4>Join Today</h4>
                    </legend>
                </fieldset>
                {{ form|crispy }}
                {% include 'users/phonenumber_form.html' %}
                <button type="submit" class="btn btn-primary btn-block mt-3 border-0" style="background: #bca3fb">
                    Register
                </button>
                <p class="small fw-bold mt-2 pt-1 mb-0">Already have an account? <a href="{% url 'login' %}"
                                                                                    class="text-decoration-none link-primary">Login</a>
                </p>
            </form>
        </div>
    {% endif %}
{% endblock content %}

{% block jsblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/11.0.9/js/intlTelInput.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/11.0.9/js/intlTelInput.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/11.0.9/js/utils.js"></script>

    <script>
        var telInput = $("#phone"),
            errorMsg = $("#error-msg"),
            validMsg = $("#valid-msg");

        // initialise plugin
        telInput.intlTelInput({

            allowExtensions: true,
            formatOnDisplay: true,
            autoFormat: true,
            autoHideDialCode: true,
            autoPlaceholder: true,
            defaultCountry: "auto",
            ipinfoToken: "yolo",

            nationalMode: false,
            numberType: "MOBILE",
            //onlyCountries: ['us', 'gb', 'ch', 'ca', 'do'],
            preferredCountries: ['sa', 'ae', 'qa', 'om', 'bh', 'kw', 'ma'],
            preventInvalidNumbers: true,
            separateDialCode: true,
            initialCountry: "auto",
            geoIpLookup: function (callback) {
                $.get("http://ipinfo.io", function () {
                }, "jsonp").always(function (resp) {
                    var countryCode = (resp && resp.country) ? resp.country : "";
                    {#callback(countryCode);#}
                    callback('US');
                });
            },
            utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/11.0.9/js/utils.js"
        });

        var reset = function () {
            telInput.removeClass("error");
            errorMsg.addClass("hide");
            validMsg.addClass("hide");
        };

        // on blur: validate
        telInput.blur(function () {
            reset();
            if ($.trim(telInput.val())) {
                if (telInput.intlTelInput("isValidNumber")) {
                    validMsg.removeClass("hide");
                } else {
                    telInput.addClass("error");
                    errorMsg.removeClass("hide");
                }
            }
        });

        // on keyup / change flag: reset
        telInput.on("keyup change", reset);

        $("#phone").on('input', function(){
            const country_code = $(".selected-dial-code")[0]
            const input_ele = $("#id_country_code")[0]
            input_ele.value = country_code.innerHTML
        })

        $("#hint_id_username").html("Required. 15 characters or fewer. Letters, digits and @/./+/-/_ only.")
        $("#id_username").attr('maxlength','15');
    </script>
{% endblock jsblock %}