{% extends 'users/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block styleblock %}
    <link href="{% static 'css/card.css' %}" rel="stylesheet">
    <style>
        .map {
            min-height: 80vh;
            height: 100%;
            width: 100%;
        }

        .dropdown-item {
            word-wrap: break-word;
            white-space: normal;
            --bs-dropdown-link-active-color: #000;
            --bs-dropdown-link-active-bg: #fff;
        }

        .text-gray {
            color: #a3a4a6;
        }

        .text-gray:hover {
            cursor: text;
            color: #a3a4a6;
        }

        #source-location-list {
            max-height: 40vh;
            overflow-y: scroll;
        }

        #destination-location-list {
            max-height: 40vh;
            overflow-y: scroll;
        }

        .alert-info-bg {
            border-radius: 2px;
            background: #F0F7FF;
            border: 2px solid #D7E7FF;
            cursor: pointer;
        }

        .style-1::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
            border-radius: 10px;
            background-color: #F5F5F5;
        }

        .style-1::-webkit-scrollbar {
            width: 12px;
            background-color: #F5F5F5;
        }

        .style-1::-webkit-scrollbar-thumb {
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 6px rgba(218, 218, 218, 0.3);
            background-color: rgba(85, 85, 85, 0.1);
        }
        .p-r-0{
            padding-right: 0;
        }
        .p-l-0{
            padding-left: 0;
        }
    </style>
    <!-- OpenLayers CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ol@v7.1.0/ol.css">
{% endblock styleblock %}

{% block content %}
{% endblock content %}

{% block map_content %}
    <h1 class="text-uppercase">Weather and Traffic Map</h1>
    <div class="row bg-white rounded">
        <div class="col-md-4 bg-white rounded pt-4">
            <div class="dropdown mt-2">
                <button class="btn btn-white btn-block text-start p-3 mb-4 rounded border text-gray" type="button"
                        id="source-dropdownMenu"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: 100%">
                    start
                </button>
                <div class="dropdown-menu" aria-labelledby="source-dropdownMenu" style="width: 100%">
                    <div class="dropdown-item normal-item">
                        <div class="input-group">
                            <input type="text" class="form-control" id="source-search">
                            <div class="input-group-append">
                                <button class="btn btn-success" type="button" id="source-search-button">
                                    Search
                                </button>
                            </div>
                        </div>
                    </div>
                    <div id="source-location-list" class="style-1"></div>
                </div>
            </div>
            <div class="dropdown">
                <button class="btn btn-white btn-block text-start p-3 mb-4 rounded border text-gray" type="button"
                        id="destination-dropdownMenu"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: 100%">
                    destination
                </button>
                <div class="dropdown-menu" aria-labelledby="destination-dropdownMenu" style="width: 100%">
                    <div class="dropdown-item normal-item">
                        <div class="input-group">
                            <input type="text" class="form-control" id="destination-search">
                            <div class="input-group-append">
                                <button class="btn btn-success" type="button" id="destination-search-button">
                                    Search
                                </button>
                            </div>
                        </div>
                    </div>
                    <div id="destination-location-list" class="style-1"></div>
                </div>
            </div>
            <h4 class="text-uppercase mt-2">Alerts</h4>
            <div class="border rounded style-1 bg-light mb-4" id="alert_log" style="min-height: 60vh; overflow-y: scroll; max-height: 60vh;"></div>
        </div>

        <div class="col-md-8 rounded">
            <div id="map" class="map rounded"></div>
        </div>
    </div>
{% endblock map_content %}

{% block jsblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- OpenLayers JS-->
    <script src="https://cdn.jsdelivr.net/npm/ol@v7.1.0/dist/ol.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jsts@2.3.0/dist/jsts.min.js"></script>

    <script type="text/javascript">
        if (window.location.hash && window.location.hash === '#_=_') {
            window.location.hash = '';
        }
        let icon_url = "{% static 'marker.png' %}";
        let source_icon_url = "{% static 'source_marker.png' %}";
        let current_location_icon = "{% static 'current_location.png' %}";
        let checkpoint_url = "{% static 'checkpoint.png' %}";


        let sun = "{% static 'weather/sun.png' %}"
        let cloudy = "{% static 'weather/cloudy.png' %}"
        let fog = "{% static 'weather/fog.png' %}"
        let wind = "{% static 'weather/wind.png' %}"
        let rain = "{% static 'weather/rain.png' %}"
        let snow = "{% static 'weather/snow.png' %}"
        let storm = "{% static 'weather/storm.png' %}"
    </script>

    <script src="{% static 'js/weather_code_mapping.js' %}"></script>
    <script src="{% static 'js/map.js' %}"></script>
    <script src="{% static 'js/create_checkpoint_card.js' %}"></script>
    <script src="{% static 'js/fetch_api.js' %}"></script>
    <script src="{% static 'js/create_route.js' %}"></script>
    <script src="{% static 'js/photon_search.js' %}"></script>
{% endblock jsblock %}